@font-face {
  font-family: 'Prototypster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/prototypster-medium-webfont.eot');
  src: url('../fonts/prototypster-medium-webfont.eot?iefix')format('eot'),
       url('../fonts/prototypster-medium-webfont.woff') format('woff'),
       url('../fonts/prototypster-medium-webfont.ttf') format('truetype'),
       url('../fonts/prototypster-medium-webfont.svg#webfont') format('svg');
}

/* Resets */
html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

article,
footer,
header,
section {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system,system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;

  color: #222;
  background-image: url('../img/bg.jpg');
}

.container {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:after,
.row:before  {
  content: "";
  display: table;
  clear: both;
}
.row:after {
  clear: both;
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

  float: left;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col {
    width: 33.33333333%;
  }
}

/* Main styles */
.header {
  padding: 50px 0;
  text-align: center;
}

.sort__link {
  color: #ff5e42;
  border-bottom: 1px dashed;
}

.order {
  cursor: pointer;
  border: 8px solid transparent;
  border-radius: 10px;
  background-color: #fff;

  margin-bottom: 40px;
  transition: .3s;
}

.order:hover {
  border-color: #ff5e42;
}

.order-flag {
  position: relative;
}
.order-flag:after {
  position: absolute;
  top: 0;
  right: 0;

  content: "";
  background-image: url('../img/flag.png');
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: -8px;
  margin-right: 5px;
  height: 55px;
  width: 35px;
}

.order__image {
  display: inline-block;
  min-width: 100%;
  height: auto;
  width: auto\9;
  padding: 3px;
}

.order__title,
.order__footer {
  font-size: 30px;
  font-family: 'Prototypster';
  text-transform: uppercase;
}

.order__title,
.order__attributes {
  color: #2a2a2a;

  padding-left: 10px;
  padding-right: 10px;
}

.order__color,
.order__size {
  visibility: hidden;
}
.order:hover .order__color,
.order:hover .order__size {
  visibility: visible;
}

.order__footer {
  position: relative;

  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 21px;
}


.order__complete {
  color: #b8b8b8;
}
.order:hover .order__complete {
  visibility: hidden;
}

.order__buy {
  position: absolute;
  top: 0;

  color: #ff5e42;
  visibility: hidden;
}
.order__buy:before {
  content: "+ ";
}
.order:hover .order__buy {
  visibility: visible;
}

.to-top {
  text-align: center;
  margin: 10px 0 60px;
}

.to-top__link {
  font-size: 40px;
  font-family: 'Prototypster';
  text-transform: uppercase;

  color: #ff5e42;
  border-bottom: 2px solid;
}

.footer {
  background: url('../img/footer-bg.png');
  padding: 44px 0;
  min-height: 236px;
}

.form {
  padding: 0 2  0px;
}

.form__input-inner {
  position: relative;
}

.form__label,
.form__input {
  font-family: 'Prototypster';
  text-transform: uppercase;
}

.form__input {
  margin-left: 100px;
}

.form__label,
.form__input-text,
.form__input-checkbox {
  font-size: 20px;
}

.form__label-text {
  position: absolute;
  top: 0;
  left: 0;

  color: #fff;
  padding: 7px 0;
}

.form__input-text {
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.form__input-checkbox {
  margin-top: 28px;
}
.form__input-checkbox:not(checked) {
  visibility: hidden;
}

.form__label-checkbox {
  position: relative;

  cursor: pointer;
  color: #fff;
}

.form__input-checkbox:not(checked) + .form__label-checkbox {
  padding: 0 20px;
}

.form__input-checkbox:not(checked) + .form__label-checkbox:before {
  content: '';

  position: absolute;
  top: 0;
  left: -21px;

  color: #d3d3d3;
  border: 2px solid;
  border-radius: 5px;
  background: transparent;

  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.form__input-checkbox:checked + .form__label-checkbox:before  {
  content: "\2713";
}

.form__input-button {
  cursor: pointer;
  border: none;
  padding: 0;

  color: #ff5e42;
  border-bottom: 2px solid;
  background: transparent;
  font-size: 28px;

  margin-top: 20px;
}

/* NoJS styles */
.no-js .header,
.no-js .content,
.no-js .footer {
  display: none !important;
}
.js .message {
  display: none !important;
}